mat-toolbar {
    position: fixed;
    z-index: 100;
}

.app-body {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
}

    

.spacer {
    flex: 1 1 auto;
}

.sidenav-header {
    padding-top: 24px;
    text-align: center;

    >img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .header-text {
        height: 3rem;

        >h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5em;
        }

        >p {
            margin: 0;
            font-size: 0.8rem;
        }
    }
}


.pointer {
    cursor: pointer;
}


.content {
    padding: 16px;
}

.content>mat-card {
    width: 200px;
    max-height: 100px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.p1 {
    padding: 1rem;
}

.m-l {
    margin-left: 1rem;
}

.float-right {
    display: flex;
    justify-content: flex-end
}