<h2 mat-dialog-title>{{title}} Book</h2>
<mat-dialog-content class="mat-typography">
    <form class="mt1" [formGroup]="bookForm" fxLayout="column wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Enter Book Title</mat-label>
            <input matInput formControlName="title" placeholder="Enter Book Title">
            <mat-error *ngIf="bookForm.controls['title'].hasError('required') && bookForm.controls['title'].pristine">
                Required Field
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Enter Publish Date</mat-label>
            <input matInput formControlName="publishDate" placeholder="Enter Publish Date">
            <mat-error
                *ngIf="bookForm.controls['publishDate'].hasError('required') && bookForm.controls['publishDate'].pristine">
                Required Field
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Enter Purchase Links</mat-label>
            <input matInput formControlName="purchaseLink" placeholder="Enter Publish Date">
            <mat-error
                *ngIf="bookForm.controls['purchaseLink'].hasError('required') && bookForm.controls['purchaseLink'].pristine">
                Required Field
            </mat-error>
        </mat-form-field>
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <input type="file" formControlName="image" (change)="uploadImage($event)" accept="image/png, image/jpeg">
            <mat-error *ngIf="bookForm.controls['image'].hasError('required') && bookForm.controls['image'].pristine">
                Required Field
            </mat-error>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <img [src]="imageSrc || 'http://placehold.it/180'" height="200">
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button *ngIf="title == 'Add'" mat-raised-button [mat-dialog-close]="true" color="primary" [disabled]="!bookForm.valid" (click)="saveAuthor()">{{title}}</button>
    <button *ngIf="title == 'Edit'" mat-raised-button [mat-dialog-close]="true" color="primary" (click)="saveAuthor()">{{title}}</button>
</mat-dialog-actions>